@charset "UTF-8";
@import url("reset-min.css");
@import url("base-min.css");
@import url("font-min.css");
@import url("ext.css");

html
{
  background-color: #fcfcff;
}

h1, h2
{
  color: #668;
}

h2 
{
  border-bottom: 2px solid #668;
}

a
{ 
	color:#446;
  font-weight: bold;
}

/******************************************************************************/

#container
{
	margin: auto;
	width: 950px;
  padding: 10px;
}

#menu 
{
  border-bottom: 3px solid #668;
}

#menu a
{
  font-weight: bold;
}

#content img
{
  float: right;
  padding-left: 40px;
}

#content ul
{
  line-height: 150%
}

#footer
{
  color: #888;
  padding-top: 5px;
  border-top: 1px solid #888;
  font-size: 80%;
}

/******************************************************************************/

div.clear
{
  clear: both;
}
