<html>
  <head>
    <meta charset='utf-8'>
    <title><%= @filename %></title>
    <link rel="stylesheet" href="css/coco.css" type="text/css" />
  </head>
  <body>
    <h2><%= @filename %></h2>
    <p><%= "#{Time.now}" %></p>
    <p><a href="index.html">Index</a></p>
    <table class="source">
      
      <% @lines.each do |num, text, hit|%>
      <%   if hit.nil? %>
        <tr class="never">
      <%   elsif hit.zero? %>
        <tr class="miss">
      <%   elsif hit > 0 %>
        <tr class="hit" %>
      <%   end %>

      <%= "<td><pre>#{num} </pre></td><td><pre>#{text}</pre></td>" %>

        </tr>
      <% end%>
      
    </table>
  </body>
</html>
