@charset "UTF-8";

table.source {
  border-collapse:collapse;
  border-spacing: 0;
}

table.index tr {
  height: 1.8em;
}

table.index td {
  padding-left: 0.5em;
}

html {
  background-color: #F5F5F5;
  color: #505050;
}

body {
  margin: 0;
}

h2 {
  padding: 10px;
  background-color: #6A9FB5;
  color: #F5F5F5;
  font-size: 1.1em;
}

a {
  color: #505050;
  text-decoration: none;
}

p {
  margin: 1em;
}

p.menu a {
  font-weight: bold;
}

p.license {
  color: #B0B0B0;
  margin-top: 20px;
  padding-top: 5px;
  border-top: 1px solid #D0D0D0;
  font-size: 80%;
}

p.date {
  font-size: 80%;
}

table {
  width: 100%;
}

table td {
  border-width: 0;
}

table.source td {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

thead {
  font-weight: bold;
  background-color: #E0E0E0;
  text-align: center;
}

td {
  color: #303030;
}

tr.never {
  background-color: #F5F5F5;
}

tr.hit {
  background-color: #90A959;
}

tr.hit:hover {
  background-color: #C4E679;
}

tr.miss {
   background-color: #AC4142;
}

tr.miss:hover {
  background-color: #E65758;
}

td.yellow, td.orange, td.pink, td.red, td.black {
  width: 45px;
}

td.yellow {
  background-color: #F4BF75;
}

td.orange {
  background-color: #CB70D7;
}

td.pink {
  background-color: #CB70D7;
}

td.red {
  background-color: #AC4142;
  color: #F5F5F5;
}

td.black {
  background-color: #505050;
  color: #F5F5F5;
}

td.percentage {
  text-align: right;
  padding-right: 20px;
}

td.line-source {
  padding-right: 0;
}

td.line-num, td.line-hits {
  width: 10%;
}

td.line-num {
  color: #303030;
  text-align: right;
  padding-right: 5px;
}

td.line-hits {
  text-align: right;
  padding-right: 20px;
}

th {
  padding-bottom: 5px;
  padding-top: 5px;
}

pre {
  margin: 6px 0;
}

