@charset "UTF-8";
@import url("reset-min.css");
@import url("base-min.css");
@import url("font-min.css")

html {
  background-color: #fff;
  color: #222;
}

h2 {
  padding: 10px;
  background-color: #7658F8;
  color: #fff;
}

a { 
	color:#446;
  text-decoration: none;
}

p.menu a {
  font-weight: bold;
}

p.license {
  color: #888;
  margin-top: 20px;
  padding-top: 5px;
  border-top: 1px solid #888;
  font-size: 80%;
}

p.date {
  font-size: 80%;
}

table {
  width: 100%;
}

table td {
  border-width: 0;
}

table.source td {
  padding: 0;
}

tr.never {
  background-color: #eee;
}

tr.hit {
  background-color: #5BD999;
}

tr.miss {
   background-color: #E6567A;
}

td.yellow, td.orange, td.pink, td.red, td.black {
  width: 45px;
  color: #fff;
}

td.yellow {
  background-color: #EAC14D;
}

td.orange {
  background-color: #CB70D7;
}

td.pink {
  background-color: #CB70D7;
}

td.red {
  background-color: #E6567A;
  font-weight: bold;
}

td.black {
  background-color: #222;
  color: #fff;
  font-weight: bold;
}

td:first-child {
  text-align: right;
  padding-right: 20px;
}

pre {
  margin: 6px 0;
}
